# SPDX-FileCopyrightText: 2025 PNED G.I.E.
#
# SPDX-License-Identifier: Apache-2.0

_http
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.vscode
.github
.idea
.scannerwork