/*
SPDX-FileCopyrightText: 2024 PNED G.I.E.

SPDX-License-Identifier: Apache-2.0
*/

/* Import Open Sans and Fira Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --font-body: "Open Sans", sans-serif;
  --font-subheading: "Fira Sans", sans-serif;
  --font-title: "Fira Sans", sans-serif;
}
