/*
SPDX-FileCopyrightText: 2024 PNED G.I.E.

SPDX-License-Identifier: Apache-2.0
*/

:root {
  --font-body: "Open Sans", sans-serif;
  --font-subheading: "Fira Sans", sans-serif;
  --font-title: "Fira Sans", sans-serif;
}
