/*
SPDX-FileCopyrightText: 2024 PNED G.I.E.

SPDX-License-Identifier: Apache-2.0
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-primary: #377a80;
  --color-secondary: #00b9b3;
  --color-info: #377a80;
  --color-warning: #f5da66;
  --color-hover: #349ba4;
  --color-disclaimer: #377a80;
  --color-surface: #f3f3f3;
  --color-footer: #dae7ed;
  --color-heading-secondary: #6c757d;
  --color-card-shadow: rgba(0, 0, 0, 0.15);
  --color-focus-ring: rgba(55, 122, 128, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --color-primary: #377a80;
    --color-secondary: #00b9b3;
    --color-info: #377a80;
    --color-warning: #f5da66;
    --color-hover: #349ba4;
    --color-disclaimer: #377a80;
    --color-surface: #f3f3f3;
    --color-footer: #dae7ed;
    --color-heading-secondary: #6c757d;
    --color-card-shadow: rgba(0, 0, 0, 0.15);
    --color-focus-ring: rgba(55, 122, 128, 0.25);
  }
}
