/*
SPDX-FileCopyrightText: 2024 PNED G.I.E.

SPDX-License-Identifier: Apache-2.0
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-primary: #377a80;
  --color-secondary: #2d6468;
  --color-info: #377a80;
  --color-warning: #f5da66;
  --color-hover: #2d6468;
  --color-disclaimer: #377a80;
  --color-surface: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --color-primary: #377a80;
    --color-secondary: #2d6468;
    --color-info: #377a80;
    --color-warning: #f5da66;
    --color-hover: #2d6468;
    --color-disclaimer: #377a80;
    --color-surface: #f5f5f5;
  }
}
